<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <span class="badge bg-secondary text-light fs-4 p-2">TSP</span>
        </a>
        <span class="d-flex justify-content-space-between">
            <button class="btn btn-secondary mx-1" routerLink="/feature_one">Feature-1</button>
            <button class="btn btn-secondary mx-1" routerLink="/feature_two">Feature-2</button>
        </span>

    </div>
</nav>
<div class="d-block">
    <router-outlet></router-outlet>
</div>